

<ol >
    <i><b><span class="user">
       <%= message.receiver.name%>
    </span>
    </b></i>
    <span class="content"><%= message.content %></span>
    <span class="timestamp">
      Sent <%= time_ago_in_words(message.created_at) %> ago.
    </span>
</ol>