<% provide(:title, current_user.name) %>

<div class="row">
  <aside class="span4">
    <div class="row">
        <%= link_to gravatar_for(current_user, size: 60), root_url %>
        <h2><%= link_to current_user.name, root_url %></h2>
    </div>
     <ol>

     </ol>
     <div id="message_form" class="row" >
         <%= render :partial => 'messages/form' %>
    </div>
    
  </aside>
  <div class="span8" >
        <b><h2>All Messages</h2></b>
        <div id="all_messages"  >
          <% @messages.each do |message| %>
            <%= render :partial => 'messages/all_message', :locals => {:message => message} %>
          <% end %>
        </div>

  });

  </div>
</div>








